@charset "UTF-8";

// Mixins
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/avenir";
@import "components/ptserif";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";


body {
  background: #eee;
  color: #404040;
  -webkit-font-smoothing: antialiased;
}

.waves-effect {
  transition: .15s ease-out;
}

.highlight {
  //background: lighten(rgba($base-blue,.5),10%);
  background: lighten(rgba($base-yellow,.5),5%);
  color: rgba(#404040,.9);
}
ul.text,
p {
  font-family: "PT Serif", serif; // TODO: include font family in assets
  font-weight: 100;
  line-height: 1.7;
  color: rgba(#404040,.8);
  margin-top: 0;
  //max-width: 600px;
  &.value-prop {
    //max-width: 700px;
  }
}
ul.text {
  margin: 2rem 0;
  li {
  }
}

em {
  color: $base-blue;
  font-style: italic;
  font-family: "PT Serif Italic", serif; // TODO: include font family in assets
}

.strike {
  text-decoration: line-through;
}




.demo {
  $border-radius: 8px;
  $url-height: 20px;
  $url-border-radius: 3px;
  .browser {
    background: #ddd;
    border-radius: $border-radius;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    .viewport {
      background: $base-purple;
      flex-grow: 1;
      border-radius: $border-radius;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
      .soon {
        opacity: .35;
        text-transform: uppercase;
        letter-spacing: .15rem;
        font-size: 75%;
        color: black;
        font-weight: 700;
      }
    }
    .top {
      display: flex;
      padding: 8px;
      .url {
        background: white;
        height: $url-height;
        border-radius: $url-border-radius;
        margin: 0 8px;
        flex-grow: 1;
      }
      .extension-icon {
        background: $base-blue;
        border-radius: $url-border-radius;
        display: flex;
        $size: $url-height;
        height: $size;
        width: $size;
      }
      .dots {
        display: flex;
        align-items: center;
      }
      .dot {
        $size: 12px;
        height: 12px;
        width: 12px;
        border-radius: 200px;
        margin: 0 2px;
        &:nth-of-type(1){
          background: $base-red;
        }
        &:nth-of-type(2){
          background: $base-yellow;
        }
        &:nth-of-type(3){
          background: $base-green;
        }
      }
    }
  }
}



#hero,
#navbar-intro {
  @media #{$medium-and-up}{
    .x-container {
      padding: 0 100px;
      width: 100%;
      max-width: 1400px;
    }
  }

}

.navbar {
  nav {
    box-shadow:  0 16px 24px 2px rgba(0, 0, 0, 0.035), 0 6px 30px 5px rgba(0, 0, 0, 0.03), 0 8px 10px -5px rgba(0, 0, 0, 0.075);
  }
  ul .btn,
  ul a {
    color: $base-purple;
    color: rgba(black,.4);
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 90%;
    font-weight: 700;
    @media #{$small-and-down} {
      font-size: 14px;
    }
    @media #{$medium-and-up} {
      font-size: 15px;
    }
    &:hover {
      color: rgba(black,.75);
    }
  }

  @media #{$small-and-down} {
    ul {
      display: flex;
      justify-content: center;
    }
  }
  @media #{$medium-and-up} {
    ul {
      display: flex;
      justify-content: flex-end;
    }
  }
  .nav-wrapper ul {
    .btn {
      //text-transform: none;
      padding: 0 1rem;
      margin: 0 0 0 1rem;
      @extend .z-depth-0;
      &:hover {
        @extend .z-depth-5;
      }
    }
  }
}

#navbar-intro,
#navbar-scroll {
  .nav-wrapper > .container {
    width: 100%;
    padding: 0 24px;
  }
}

#navbar-intro {

  .nav-wrapper .container {
    width: 100%;
    //padding: 0 24px;
  }

  nav {
    @extend .z-depth-0;
    z-index: 11;
    position: relative;
    background: linear-gradient(30deg, $base-red, $base-yellow, $base-green, $base-blue);
    @media #{$small-and-down}{
      min-height: 160px;
    }
  }
  .about {
    h3 {

      font-size: 17px;
      opacity: .4;
      color: black;
      text-transform: uppercase;
      letter-spacing: .05rem;
      font-size: 80%;
      font-weight: 700;
      //line-height: 1.7;
      @media #{$large-and-up}{
        //padding: 0 0 0 1.25rem;
        font-size: 60%;
      }

    }
    h2 {
      font-size: 21px;
    }

    text-align: center;
    @media #{$small-and-down}{
      h3 {
        margin-top: 2px;
      }
    }
    @media #{$medium-and-up}{
      padding: 0 0 0 1.25rem;
      text-align: left;
    }
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > * {
      margin: 0;
      line-height: 1.4;
    }
  }


  .profile {
    line-height: 1;
    display: flex;
    overflow-y: visible;
    justify-content: center;

    @media #{$small-and-down}{
      align-items: center;
      flex-direction: column;
    }

    .headshot {
      border: 8px solid rgba(black,.06);
      max-width: 150px;

      overflow-y: visible;
      border-radius: 99rem;
      @media #{$small-and-down}{
        max-width: 120px;
      }
      @media #{$medium-and-down}{
        max-width: 120px;
      }
      @media #{$medium-and-up}{
        transform: translate(0, 12px);
      }

    }
    .has-headshot {
      @media #{$small-and-down}{
        order: 2;
      }
      @media #{$medium-and-up}{
        height: 1px;
      }
    }
  }
  .alt-about {
    display: none;
    @media #{$medium-only}{
      display: flex;
    }
  }
  @media #{$medium-only}{
    .about {
      text-align: center;
    }
  }


}

#navbar-scroll {
  &.navbar-fixed {
    z-index: 10 ;
    box-shadow:  0 16px 24px 2px rgba(0, 0, 0, 0.035), 0 6px 30px 5px rgba(0, 0, 0, 0.03), 0 8px 10px -5px rgba(0, 0, 0, 0.075);

    margin-bottom: -56px;
    @media #{$medium-and-up} {
      margin-bottom: -90px;
    }
  }
  nav {
    background: white;
    z-index: 10;
  }
  .btn {
    background: linear-gradient(30deg, darken($base-red, 2%), darken($base-yellow, 2%), darken($base-green, 2%), darken($base-blue, 2%));
    background: linear-gradient(30deg, $base-purple, $base-red, $base-yellow );

  }
  nav .brand {
    font-weight: 100;
    color: rgba(#404040,.5);
    height: 90px;
    display: flex;
    align-items: center;
    img {
      border-radius: 3px;
      max-height: 45px;
      margin-right: .75rem;
    }
    strong {
      //color: rgba(black,.25);
      font-weight: 900;
    }
    @media #{$medium-and-up} {
      font-size: 28px;
    }
  }
}






#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  clear: both;
  text-align: center;
  .highlight {
    color: rgba(#404040,.9);
  }
  // spacing
  .contains-text .row {
    //margin-bottom: 32px;
  }
  // 90px reps the height of the navbar

  > .container > .row {
    margin-bottom: 0;
    > .col > .row {
      margin-bottom: 0;
    }
  }

  .has-value-prop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin: 2rem 0;
    font-weight: 900;
    @media #{$medium-and-up} {
    }
    @media #{$large-and-up} {
    }
  }
  .thing {
    background: $base-red;
    display: block;
    $size: 28px;
    height: $size;
    width: $size;
    line-height: 28px;
    border-radius: 28px;
    transform: translate(0px, -100px);
    z-index: 3;
    position: relative;
    color: white;
    font-size: 14px;
    //line-height: 12px;
    text-align: center;
  }
  div.cta {
    display: flex;
  }
  .cta {
    //text-transform: none;
    $height: 80px;
    height: $height;
    line-height: $height;
    margin: 1.5rem 0;
    padding: 0 2.5rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 90%;
    font-weight: 500;
    background: linear-gradient(30deg, $base-purple, $base-red, $base-yellow );

    img {
      max-height: 1.5rem;
      vertical-align: text-bottom;
      margin: 0 0 0 .5rem;
    }

    //@extend .z-depth-2;
    &:hover {
      @extend .z-depth-5;
      transform: scale(1.008);
    }

    ~ a {
      color: #aaa;
      margin: 0 0 0 4.5rem;
      display: block;
      img {
        max-height: 1.5rem;
        vertical-align: text-bottom;
      }
    }
  }
  @media #{$small-and-down}{
    min-height: calc(100vh - 210px);

    .has-title {
      order: 0;
    }
    .has-demo {
      order: 1;
    }
    .has-value-prop {
      order: 2;
    }
    text-align: center;
    h1 {
      font-size: 38px;
    }
    .value-prop {
    }
  }

  @media #{$medium-and-up}{
    min-height: calc(100vh - 90px);
  }

}



.section {

  padding: 3rem 0;
  @media #{$medium-and-up}{
    padding: 4rem 0;
  }

  &:target::before {
    display: block;
    content: " ";
    visibility: hidden;
    background: $base-red;
    height: 30px;
    @media #{$medium-and-up}{
      height: 90px;
    }
  }




  .code {
    color: darken($base-red,10%);
    border: 2px solid rgba($base-red,.4);
    border-radius: 4px;
    background: rgba(white,1);
    padding: .1em .3em;
  }
  @media #{$small-and-down} {
    h2 {
      font-size: 1.7rem;
    }
  }

  h2 {
    font-weight: 900;
    margin: 2rem 0 ;
    line-height: 1.3;
    em {
      color: $base-blue;
      font-style: italic;
      font-family: "PT Serif Italic", serif; // TODO: include font family in assets
      font-weight: 100;
    }
    img {
      max-height: 2em;
      vertical-align: middle;
    }
  }
  h4 {
    color: $base-red;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    &.alt {
      color: $base-blue;
    }
  }
}

.section.color {
  background: #444;
  color: white;
  padding: 4rem 0;
  p {
    color: white;
  }

}
.section.light {
  //text-align: center;

  h3 {
    font-size: 1.3rem;
    font-weight: 800;
    margin: 2rem 0;
  }


  @media #{$small-and-down}{
    h2 img {
      //margin: 2rem auto 0;
      //display: block;
      max-height: 1.9rem;
    }

  }
  @media #{$medium-and-up}{
    h2 img {
      max-height: 56px;
    }
    text-align: left;

  }
}

#previous-works {

  h4.init {
    margin-bottom: 1rem;
  }

  ul, .card {
    h4 {
      margin: .5rem 0 0 0;
    }

  }
  h2 {
    margin-bottom: 1.25rem;
  }
  p {
    margin-bottom: 1.25rem;
  }
  p.alt {
    margin-bottom: .5rem;
    line-height: 1.5;
  }
  .card {
    border-radius: 5px;
    box-shadow:  0 16px 24px 2px rgba(0, 0, 0, 0.035), 0 6px 30px 5px rgba(0, 0, 0, 0.03), 0 8px 10px -5px rgba(0, 0, 0, 0.075);
  }
  .demo .browser{
    border-radius: 5px;
    min-height: 0;
    .top {
    }
  }
  .card .card-image img {
    border-radius: 0;
  }
  .card a.btn-floating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(30deg, $base-purple, $base-red, $base-yellow );

    &:hover {
      @extend .z-depth-5;
      transform: scale(1.05);
    }

    img {
      color: white;
      max-width: 50%;
      //opacity: .5;
      align-self: center;
    }
  }


  ul.work-history {
    background: white;
    padding: 0rem;
    border-radius: 6px;
    .org {
      line-height: 2.5;
      display: block;
    }
    .alt {
      font-family: "PT Serif Italic", serif; // TODO: include font family in assets
      opacity: .7;
      display: block;
      line-height: 1.4;
    }
    a, .no-link {
      padding: 1.25rem;
      display: block;
    }
    a {
      background: lighten(rgba($base-yellow,.6),0%);
      color: rgba(#404040,.9);
      &:hover {
        background: lighten(rgba($base-yellow,.5),0%);
      }
    }
    .date {
      display: block;
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "avenir", sans-serif;
      font-size: .7rem;
      color: $base-blue;
    }
    li  {
      border-bottom: 1px solid #eee;
      &:last-of-type,
      &.featured {
        border: 0;
      }
    }
  }
}



#experience {

  .flags {
    margin-top: 2rem;
    @media #{$small-and-down}{
      //display: none;
    }
  }
  .flags img {
    max-width: 48px;
    margin: 0 12px 0 0;
  }
  // /text-align: center;
  @media #{$small-and-down}{
    h2 img {
      //margin: 2rem auto 0;
      //display: block;
    }
    .flags {
      img {
        margin: 0 4px;
        max-width: 36px;
      }
    }
  }
  @media #{$medium-and-up}{
    h2 img {
      max-height: 56px;
    }
    text-align: left;
  }
}
#skills {
  //text-align: center;
  @media #{$small-and-down}{
    h2 img {
      //margin: 2rem auto 0;
      //display: block;
      max-height: 2.5rem;
    }
  }
  @media #{$medium-and-up}{
    h2 img {
      max-height: 56px;
    }
    text-align: left;
  }

}


.jobs {
  font-size: .85rem;
  h2 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  p.alt {
    font-family: "PT Serif Italic", serif; // TODO: include font family in assets
    opacity: .8;
  }
  h4 {
    //font-size: .65rem;
    //color: $base-blue;

  }
  h2.org {
    margin: .5rem 0; TODO: apply this to org names only
  }
  .card .card-content p,
  p, ul {
    margin: 0 0 2rem 0;
  }
  .card {
    box-shadow:  0 16px 24px 2px rgba(0, 0, 0, 0.035), 0 6px 30px 5px rgba(0, 0, 0, 0.03), 0 8px 10px -5px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
  }
}




#jobs-featured {
  //font-size: .85rem;
  padding: 0;
  > .x-container > .row {
    display: flex;
    @media #{$medium-and-down}{
      flex-direction: column;
    }
  }
}

#ote-summary {
  background: white;

    padding: 3rem 20px;
    @media #{$medium-and-up}{
      padding: 3.5rem;
    }

  .body {
    max-width: 740px;
    em {
      color: inherit;
    }
  }


  a.download {
    letter-spacing: .1rem;
    height: 80px;
    line-height: 80px;
    //margin: 1.5rem 0;
    padding: 0 2.5rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 90%;
    font-weight: 500;
    background: linear-gradient(30deg, $base-purple, $base-red, $base-yellow );
    //@extend .z-depth-2;
    &:hover {
      @extend .z-depth-5;
      transform: scale(1.008);
    }

    @media #{$small-and-down}{
      display: block;
    }

    & ~.alt {
      letter-spacing: .1rem;
      font-size: 90%;
      font-weight: 500;
      opacity: .5;
      padding: 0 1rem;

      @media #{$small-and-down}{
        display: block;
        text-align: center;
        padding: .5rem 1rem;
      }

    }
  }

  .h4-row {
    h4 {
      display: inline-block;
    }
    .thing {
      @extend h4;
      background: $base-yellow;
      color: rgba(white,.8) !important;
      border-radius: 4px;
      padding: .4rem .8rem;
      float: right;
      margin: 0;

    }
  }
  ul.text {
    li {
      list-style-type: disc;
      margin-left: 2rem;
      @media #{$medium-and-up}{
        margin-left: 4rem;
      }

    }
  }

}

#ote-accomplishment {
  background: linear-gradient(30deg, $base-purple, $base-blue);

  padding: 3rem 20px;
  @media #{$medium-and-up}{
    padding: 3.5rem;
  }


  color: white;
  h4 {
    color: rgba(black,.45);
  }
  p {
    color: white;
    em {
      color: rgba(white,.8);
    }
  }
}








#range {

  background: linear-gradient(30deg, $base-red, $base-yellow, $base-green, $base-blue);

  h4 {
    text-align: center;
    color: rgba(white,.85);
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;

    display: none;
  }

  .text {
    color: rgba(black,.6);
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .7rem;
    -webkit-font-smoothing: antialiased;

    strong {
      color: white;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: .1rem;
    }

  }

  @media #{$medium-and-down}{

    .x-container {
      //@extend .container;
    }

    $text-width: 200px;
    $text-height: 180px;
    $connector-height: 40px;
    $dot-height: 30px;
    $total-height: ($text-height + $connector-height + $dot-height)*2 - $dot-height;

    h4 {
      //color: rgba(white,.5);
    }

    ul {
      padding: 20px;
      li {
        display: flex;
        margin: 24px 0;
      }
      .text {
        //margin-left: 12px;
        font-size: .8rem;
        strong {
          display: block;
          margin-bottom: .25rem;
          font-weight: 900;
        }
        span {
          //opacity: .5;
          //font-size: .85rem;
          display: block;
          margin-bottom: 1rem;
          //font-weight: 900;

        }
      }
      .connector {
        display: none;
      }
      .dot {
        z-index: 1;
        content: '';
        $size: $dot-height;
        height: $size;
        width: $size;
        background: $base-green;
        display: block;
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.05);
        border: 3px solid white;
        flex-shrink: 0;
        display: none;

        &.foundation {
          background: $base-blue;
        }

        &.iterations {
          background: $base-yellow;
        }
        img {
          width: 55%;
          height: 55%;
          transform: translate(0,0px);
        }

      }
    }
  }








  @media #{$large-and-up}{
    overflow-x: scroll;
    h4 {
      //color: white;
      //text-align: center;
      //font-weight: 100;
      //opacity: .5;
    }

    $text-width: 200px;
    $text-height: 180px;
    $connector-height: 40px;
    $dot-height: 32px;

    $total-height: ($text-height + $connector-height + $dot-height)*2 - $dot-height;

    padding: 100px 0;
    padding: 0;

    font-size: 17px;

    .line {
      border-bottom: 3px solid rgba(black,.1);
      transform: translate(0, -$total-height/2);
      z-index: 0;
    }
    ul {
      margin: 0;
      display: flex;
      justify-content: space-around;
      height: $total-height;
      padding: 0 200px;
      li {
        margin-left: -$text-width*.4;
        &:first-of-type {
          margin-left: 0;
        }
        text-align: center;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        &.even {
          justify-content: flex-end;
          flex-direction: column-reverse;
          .text {
            flex-direction: column-reverse;
          }
        }
        .dot {
          z-index: 1;
          content: '';
          $size: $dot-height;
          height: $size;
          width: $size;
          background: $base-green;
          display: block;
          border-radius: 100px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
          border: 3px solid white;

          &.foundation {
            background: $base-blue;
          }

          &.iterations {
            background: $base-yellow;
          }
          img {
            width: 55%;
            height: 55%;
            transform: translate(0,0px);
          }
        }

        .connector {
          display: block;
          height: $connector-height;
          border-left: 3px solid rgba(black,.10);
        }
        .text {


          $size: $text-height;
          height: $size;
          width: $text-width;
          display: flex;
          flex-direction: column;

          strong {
            line-height: 2.5rem;
            border-radius: 4px;
            background: rgba(darken(black,20%),.4);
            text-align: center;
            font-size: .7rem;
          }
          .desc {
            padding: .75em 0;


            display: none;
          }

        }
      }
    }
  }

}
#testimonial {

  background: linear-gradient(30deg, $base-purple, $base-blue);
  //text-align: center;

  blockquote {
    color: rgba(white,.85);
    @media #{$medium-and-up}{
      //font-size: 1rem;
    }
    //font-style: italic;
    font-family: "PT Serif", serif; // TODO: include font family in assets
    border-color: $base-purple;
    text-align: left;
    .highlight {
      color: rgba(white,.98);
    }
  }
  .author {
    color: rgba(white,.65);
    margin: 30px;
    text-align: center;
    //font-size: 90%;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "avenir", sans-serif;
    font-size: .75rem;
    -webkit-font-smoothing: antialiased;

  }
  p {
    font-style: italic;
  }
}


#about {
  background: linear-gradient(30deg,  $base-red, $base-yellow, $base-green, $base-blue);
  ul,p {
    //color: white;
    color: rgba(64, 64, 64, 0.95);
    em {
      color: rgba(64, 64, 64, 0.5);
    }
  }
  h4:not(.alt-mission) {
    color: white;
    text-shadow: 2px 2px 0px rgba(black, .1);
  }
  h2 {
    margin-bottom: 0;
    em {
      //color: red;
      color: white;
    }
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .75rem;
    opacity: .55;
    margin: .3rem 0 0;
    font-weight: 700;
    line-height: 1.4;
  }
  @media #{$small-and-down} {
    text-align: center;

    > .container > .row {
      display: flex;
      flex-direction: column;
    }
    .has-headshot {
      order: -1;
    }
    .has-header h4 {
      display: none;
    }
    .has-details {
      text-align: left;
    }
    ul.text li {
      list-style: none;
    }

  }
  @media #{$medium-and-up} {

    .has-headshot {
      text-align: right;
      img {
        margin-top: 10px; //match margin-top of "About me"
      }
    }
  }
  .headshot {
    width: 100%;
    max-width: 100px;
    @media #{$medium-and-up} {
      max-width: 120px;
    }
    @media #{$large-and-up} {
      max-width: 140px;
    }

    border-radius: 99em;
    //float: right;
  }
  h4.alt,
  h4.alt-mission {
    margin: 1rem 0;
  }
  .has-details {
    > .row {
      margin-bottom: 0;
      > .col {
        margin-bottom: 2rem;
      }
    }
    ul.text {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .row.p-v {
    margin-top: 2rem;
  }
  .mission {
    margin-top: 3rem;
    box-shadow:  0 16px 24px 2px rgba(0, 0, 0, 0.035), 0 6px 30px 5px rgba(0, 0, 0, 0.03), 0 8px 10px -5px rgba(0, 0, 0, 0.075);

    //margin-bottom: 3rem;
    text-align: center;
    background: white;
    border-radius: 5px;
    padding: 40px 20px 20px;
    h4 {
      color: $base-blue;
    }
    p {
      max-width: 600px;
      margin: 0 auto;
    }
    img {
      max-height: 72px;
    }
  }
}

#footer {
  background: white;
  text-align: center;

  .btn {
    $height: 80px;
    height: $height;
    line-height: $height;
    margin: 1.5rem 0;
    padding: 0 2.5rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 90%;
    font-weight: 500;
    background: linear-gradient(30deg,$base-purple, $base-red, $base-yellow );
    max-width: 400px;
    margin: 2rem auto;
    //margin: 2rem 0;

    &:hover {
      @extend .z-depth-5;
      transform: scale(1.02);
    }
  }

  .col {
    display: flex;
    flex-direction: column;
  }
  p {
    margin: 0;
  }





  .x-btn {
    $x: 3px;
    background: linear-gradient(30deg, darken($base-red,15%), darken($base-yellow, 15%), darken($base-green, 15%), darken($base-blue, 15%));
    background: linear-gradient(30deg, $base-red, $base-yellow, $base-green, $base-blue );
    padding:$x;
    height: 4rem;
    //min-width: 340px;
    margin: 2rem 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    border-radius: 99rem;
    align-self: center;
    span {
      border-radius: 99rem;
      flex: 1;
      display: flex;
      background: white;
      display: block;
      //min-width: 340px;
      color: $base-purple;
      padding: 0 3rem;
      letter-spacing: .1rem;
      font-weight: 600;
      align-content: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }
  p a {
    color: $base-purple;
  }
}


#letter {

  *:target::before {
    display: none !important;
    content: "";
    visibility: hidden;
    background: $base-red;
    height: 30px;
    @media #{$medium-and-up}{
      height: 90px;
    }
  }

  table.principles {
    tr td:nth-of-type(2){
      opacity: .7;
      font-size: 85%;
      font-style: italic;
      font-family: "PT Serif Italic", serif;
    }
  }

  table.experience {
    tr.highlight td {
      background: lighten(rgba($base-yellow,.5),5%);
      color: rgba(#404040,.9);
    }
  }

  ul.tools {
    span {
      display: block;
      opacity: .4;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: 60%;
      font-weight: 500;
    }
  }



  @media #{$medium-and-down}{
    .section.light {
      //padding: 0;
      //padding: 3rem 0;
    }

  }

  #ty-cta {
    background: white;
    text-align: center;
    p em {
      color: inherit;
    }
    img {
      max-height: 300px;
      margin-bottom: 2rem;
    }
    img:hover {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }

    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }
  }

  #product-mission {
    background: $base-purple;
    background: linear-gradient(30deg, $base-purple, $base-red, $base-yellow );
    text-align: center;
    img {
      max-height: 4rem;
    }
    h3 {
      font-weight: 600;
      margin: 2rem 0;
    }
  }

  .basic {
    h3 img {
      max-height: 3rem;
      vertical-align: middle;
    }
    p em {
      color: inherit;
      opacity: .75;
    }
    ul, p, blockquote {
      margin-top: 0;
      margin-bottom: 2rem;
      strong {
        font-weight: 600 !important;
        color: #444444 !important;
      }
    }

    blockquote {
      font-family: "PT Serif Italic", serif; // TODO: include font family in assets
      font-style: italic;
    }

    ul.text {
      li {
        list-style-type: disc;
        margin-left: 1rem;
        margin-bottom: .5rem;
        @media #{$medium-and-up}{
          margin-left: 2rem;
        }

      }
      strong {
        font-weight: 700;
        color: #444444;
      }
    }
  }

  #process-diagram {
    background: $base-purple;
  }

  #points {
    //background: $base-purple;
    background: white;
    text-align: center;
    h1 img {
      max-height: 7rem;
    }
  }
  ul.points {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: 2rem 2rem;
      img {
        max-width: 3.25rem;
      }
      p {
        max-width: 400px;
        margin: 0 auto;
        em {
          color: inherit;
          opacity: .7;
        }
      }
    }
    h3 {
      color: $base-blue;
      margin: 1rem 0;
    }
  }


  .section.light p strong {
    font-weight: 500;
    color: #333333;
  }

  #closing {
    background: white;
    text-align: center;
    p {
      margin-bottom: 2rem;
    }


    em {
      color: inherit;

    }
    a.resume {
      letter-spacing: .1rem;
      height: 80px;
      line-height: 80px;
      //margin: 1.5rem 0;
      padding: 0 2.5rem;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: 90%;
      font-weight: 500;
      background: linear-gradient(30deg, $base-purple, $base-red, $base-yellow );
      //@extend .z-depth-2;
      &:hover {
        @extend .z-depth-5;
        transform: scale(1.008);
      }

      @media #{$small-and-down}{
        display: block;
      }
    }
  }
  #section-01 {
    padding-top: 0;
  }
  #contact-line {
    background: white;
    .line {
      @media #{$medium-and-down}{
        padding: 2rem 1rem;
        .date {
          margin-top: 1rem;
        }
      }
      @media #{$large-and-up}{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      padding-top: 2rem;
      padding-bottom: 2rem;
      margin-bottom: 0;
      line-height: 1.6;
      //opacity: .5;
      div {
        //padding: 2rem 0;
      }
      div:first-child {
        font-weight: 500;
      }
      div:not(:first-child) {
        opacity: .65;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .col-space {
    margin-bottom: 2rem;
  }

  em.north-star {

      color: inherit;

  }

  .section {
    h4 + h2 {
      margin-top: .5rem;
    }
    table {
      background: white;
      color: #555555;
      th,
      td {
        padding: 1rem 2rem;
        border-radius: 0;
        &:first-child {
          font-weight: 700;
        }
      }
      th {
        background: $base-green;
        color: white;
      }
    }
  }

  table.overview {
    a {
      color: inherit;
      &:hover {
        text-decoration: underline;
        color: $base-blue;
      }
    }
    margin-bottom: 2rem;
    tr:first-child {
      background: linear-gradient(30deg, $base-blue, $base-green);
    }
    th {
      background-color: transparent;
    }
    td li {
      display: inline-block;
      margin: 0 2rem 0 0;
    }
    td li:not(.alt)::before {
      $size: .75rem;
      background: url("../../../assets/img/check.fw.png") 50% 50%  no-repeat $base-green ;
      background-size: 80%;
      height: $size;
      width: $size;
      border-radius: 99rem;
      content: '';
      display: inline-block;
      margin: 0 .5rem 0 0;
      transform: translate(0, .05rem);
    }
    td li.alt {
      opacity: .6;
    }
    @media #{$small-and-down}{

      border-collapse: separate;

      td ul {
        margin: 0;
      }
      td li {
          display: block;
          //margin-left: 1rem;
          &:not(.xalt)::before {
            line-height: 2;
            $size: .75rem;
            height: $size;
            width: $size;
            background: url("../../../assets/img/check.png") 50% 50%  no-repeat ;
            background-size: 80%;

            //content: '✓'
          }
          &.alt {
            padding: .5rem 0 0;
          }
      }

      tr {
        border-spacing: 1.5rem;
      }
      td {
        display: table-row;
        padding: 1rem;
        margin: 1rem;
        span {
          display: block;
        }
      }
    }

  }


  #design-trends {
    background: white;
    text-align: center;
    img {
      border-radius: 5px;
      max-height: 240px;
      display: block;
    }
  }


  #bonus-visual {
    background: $base-blue;
    background: linear-gradient(30deg, $base-purple, $base-red );

    text-align: center;
    h2 {
      margin-top: 0;
    }
    li {
      font-weight: 500;
      &::before {
        content: '';
        $size: 2rem;
        height: $size;
        width: $size;
        display: block;
        background: white;
        border-radius: 99rem;
        margin: 0 auto;
        margin-bottom: .5rem;
        background: url("../../../assets/img/check.png") 50% 50%  no-repeat white ;
        background-size: 50%;
      }
    }



  }
  .section.color {
    background: rgba(black,.1);

    &#hunger {
      background: $base-yellow;
    }

    &#alt {
      background: white;
      p {
        color: black;
      }
    }

    &#intro {
      .us {
        @media #{$large-and-up}{
          display: flex;
          flex-direction: row;
          justify-content: center;
        }


        .customerio {
          display: flex;
        }
        > div.plus {
          font-size: 3rem;
          padding: 0 2rem;
          opacity: .15;
          color: black;
          text-align: center;

          // fix alignment bug in firefox
        	display: flex;
        	align-items: center;

        }
        > div {
          flex-direction: column;
          justify-content: center;
          flex-shrink: 0;
          text-align: center;
          @media #{$large-and-up} {
            display: flex;
            display: -moz-box;

          }
          > * {
            align-self: center;
            max-width: 100%;

          }

        }
      }
      img.headshot {
        max-height: 150px;
        border: 10px solid rgba(black,.1);
      }
      .logo {
        width: 450px;
        max-width: 450px;
        flex-grow: 1;
      }
      .tether-logo {
        height: 80px;
      }
      .emoji {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }


    &#range,
    &#intro {
      background: linear-gradient(30deg, $base-red, $base-yellow, $base-green, $base-blue);

    }

    &#principles {
      background: $base-purple;
      background: #473660;
      background: linear-gradient(30deg, $base-purple, $base-blue );
      text-align: center;
    }



    &#overview {
      background: $base-purple;
    }
  }

}
